{% extends "base.html" %}
{% load static %}

{% block title %} Employee list {% endblock %}

{% block css_files %} 
<link rel="stylesheet" href="{% static "employees/form.css" %}">
{% endblock %}


{% block content %}

<div class='container-fluid'>
<h1>{{department|capfirst}} Department</h1>

<div class='container'>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Department</th>
            </tr>
        </thead>
        
        {% for employee in employees %}
        <tr>    
            <a href="{% url 'specific-employee' employee.id %}" method="POST"> 
                <td>{{employee.first_name}} {{employee.last_name}} </td>
                <td>{{employee.department}} </td>
            </a>
            <form action="{% url "edit-employee" employee.id %}" method="GET">
                <td><button type="submit" class="btn btn-outline-warning">Edit</button></td>
            </form>
            <form action="{% url "delete-employee" employee.id %}" method="POST">
                {% csrf_token %}
                <td><button type="submit" class="btn btn-outline-danger">Delete</button></td>
            </form>
            <form action="{% url "specific-employee" employee.id %}" method="GET">
                <td><button type="submit" class="btn btn-outline-info">More Info</button></td>
            </form>
        </tr>
        
        {% endfor %}
    </table>
    {{message}}
</div>
<br><a href="{% url 'employee-list' %}"><button class="btn btn-primary" type="submit">Back to all employee list</button></a> <br><br>

<a href="{% url 'logout' %}"><button type="button" class="btn btn-danger">Log Out</button></a>

</div>
{% endblock %}