{% extends "base.html" %}
{% load static %}

{% block title %} Employee list {% endblock %}

{% block css_files %} 
<link rel="stylesheet" href="{% static "employees/form.css" %}">
{% endblock %}


{% block content %}

<div class='container-fluid'>
<h1>View all employees or choose department</h1>

<a href="{% url 'department-list' "Management" %}"><button class="btn btn-primary btn-submit" type="submit">Management</button></a>
<a href="{% url 'department-list' "HR" %}"><button class="btn btn-primary btn-submit" type="submit">HR</button></a> 
<a href="{% url 'department-list' "Accounting" %}"><button class="btn btn-primary btn-submit" type="submit">Accounting</button></a>
<a href="{% url 'department-list' "Logistics" %}"><button class="btn btn-primary btn-submit" type="submit">Logistics</button></a>
<a href="{% url 'department-list' "Warehouse" %}"><button class="btn btn-primary btn-submit" type="submit">Warehouse</button></a>
<a href="{% url 'events' %}"><button class="btn btn-primary btn-submit" type="submit">Events</button></a><br><br>
<br>
<a href="{% url 'new-employee' %}"><button class="btn btn-primary btn-submit" type="submit">Add New Employee</button></a><br><br>
<a href="{% url 'logout' %}"><button type="button" class="btn btn-danger">Log Out</button></a><br><br>

<div class='container'>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Department</th>
            </tr>
        </thead>
        
        {% for employee in employees_list %}
        <tr>    
            <a href="{% url 'specific-employee' employee.id %}" method="POST"> 
                <td>{{employee.first_name}} {{employee.last_name}} </td>
                <td>{{employee.department}} </td>
            </a>
            <form action="{% url "edit-employee" employee.id %}" method="GET">
                <td><button type="submit" class="btn btn-outline-warning">Edit</button></td>
            </form>
            <form action="{% url "delete-employee" employee.id %}" method="POST">
                {% csrf_token %}
                <td><button type="submit" class="btn btn-outline-danger">Delete</button></td>
            </form>
            <form action="{% url "specific-employee" employee.id %}" method="GET">
                <td><button type="submit" class="btn btn-outline-info">More Info</button></td>
            </form>
        </tr>
        
        {% endfor %}
    </table>
    {{message}}
</div>
{% comment %} <a href="{% url 'new-employee' %}"><button class="btn btn-primary btn-submit" type="submit">Add New Employee</button></a><br><br>

<h1>Or choose specific department</h1>

<a href="{% url 'department-list' "Management" %}"><button class="btn btn-primary btn-submit" type="submit">Management</button></a>
 <a href="{% url 'department-list' "HR" %}"><button class="btn btn-primary btn-submit" type="submit">HR</button></a> 
<a href="{% url 'department-list' "Accouting" %}"><button class="btn btn-primary btn-submit" type="submit">Accounting</button></a>
<a href="{% url 'department-list' "Logistics" %}"><button class="btn btn-primary btn-submit" type="submit">Logistics</button></a>
<a href="{% url 'department-list' "Warehouse" %}"><button class="btn btn-primary btn-submit" type="submit">Warehouse</button></a><br><br> 
<a href="{% url 'logout' %}"><button type="button" class="btn btn-danger">Log Out</button></a> {% endcomment %}

</div>
{% comment %} <p><a href="{% url 'logout' %}">Log Out</a></p> {% endcomment %}
{% endblock %}