{% extends "base.html" %}

{% load static %}

{% block css_files  %} 
<link rel="stylesheet" href="{% static "employees/form.css" %}">
{% endblock %}

{% block content %}
<div class='container-fluid'>
    <div class='container'>
        <table>
            <thead>
                <tr>
                    <th>Event Name</th>
                    <th>Description</th>
                    <th>Attending department</th>
                    <th>Date</th>
                    <th>Time</th>
                </tr>
            </thead>
            <tr>
                <td>{{event.name}}</td>
                <td>{{event.description}}</td>
                <td>{{event.attending_department}}</td>
                <td>{{event.date}}</td>
                <td>{{event.time}}</td>
            </tr>
        </table>
    </div>
    <a href="{% url 'events' %}"><button class="btn btn-primary" type="submit">Back to event list</button></a> 

</div>
{% endblock %}